.all-item {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.all-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.all-item-header-right {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.item-search {
  order: 2;
  width: 32rem;
  height: 4.2rem;
}

.item-add-item {
  order: 3;
  width: 13.3rem;
  height: 4.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--blue);
  border-radius: 0.8rem;

  color: var(--white);

  font-size: 1.5rem;
  font-weight: 400;
}

.item-add-item:hover {
  background-color: var(--hover-button);
}

.dropdown {
  order: 4;
}

@media (max-width: 768px) {
  .item-search {
    width: 24.2rem;
  }
}

@media (max-width: 426px) {
  .all-item-header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .all-item-title {
    order: 1;
    width: calc(50% - 5px);
  }

  .item-add-item {
    order: 2;
  }

  .item-search {
    order: 3;
    margin-top: 4px;

    width: 28.8rem;
  }

  .dropdown {
    order: 4;
    margin-top: 4px;
  }

  .all-item-header-right {
    display: contents;
  }
}
